html {
  height: 100%;
}

body {
  margin-bottom: 20px;
}

footer {
  padding-top: 30px;
}

footer img {
  margin-left: 10px;
}

.panel-body dl {
  margin-bottom: 0;
}

.page-header h1 a {
  text-decoration: none;
}

.f_center {
  height: 100%;
}

.f_center .container {
    height: 100%;
    width: 100%;
    display: table;
    padding-right: 0;
    padding-left: 0;
}

.f_center .row {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
