{% extends "base/base.html" %}

{% block body_classes %}{{ block.super }} f_landing{% endblock %}

{% block container %}

<a class="hidden-xs" href="https://github.com/lamby/buildinfo.debian.net"><img style="position: absolute; top: 0; right: 0; border: 0;" src="{% static "images/github.png" %}" alt="Fork me on GitHub"></a>

<div class="container">
  <br>
  <br>

  <div class="jumbotron">
    <h1>
      buildinfo.debian.net
    </h1>

    <h2>
      Proof of concept <code>.buildinfo</code> server
    </h2>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>Latest submissions:</h4>

      <ul>
        {% for x in latest %}
        <li>
          <a href="{{ x.buildinfo.get_absolute_url }}">{{ x.buildinfo.get_filename }}.buildinfo</a>
          {% if x.node %}from <code>{{ x.node }}</code>{% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12">
      <h3>Quick-start</h3>

      <br>

      <h4>
        Submit a <code>.buildinfo</code>:
      </h4>
      <p>
        <code>
          $ curl-X PUT --data-binary @- --max-time 30 {{ settings.SITE_URL }}{% url "api:submit" %} &lt; <em>my.buildinfo</em>
        </code>
      </p>

      <br>

      <h4>
        Upload a GPG-signed <code>.buildinfo</code>:
      </h4>
      <p>
        <code>
          $ gpg --output=- --clearsign <em>my.buildinfo</em> | curl -X PUT --max-time 30 --data-binary @- {{ settings.SITE_URL }}{% url "api:submit" %}
        </code>
      </p>

      <br>

      <h4>
        Upload a GPG-signed <code>.buildinfo</code> with optional <code>?node=X</code> metadata:
      </h4>
      <p>
        <code>
          $ gpg --output=- --clearsign <em>my.buildinfo</em> | curl -X PUT --max-time 30 --data-binary @- {{ settings.SITE_URL }}{% url "api:submit" %}?node=$(hostname -a)
        </code>
      </p>
    </div>
  </div>
</div>

{% endblock%}
