celery==3.1.19
Django==1.9.11
django-celery==3.1.17
https://github.com/lamby/django-setuptest/zipball/django-1.9-support#egg=django-setuptest
django-template-tests==1.0.0
gunicorn==19.3.0
psycopg2==2.6.1
python-memcached==1.59
redis==2.10.5
sqlparse==0.1.18
python-debian==0.1.28
chardet==3.0.4
django-keyerror==2.1.4
python-dateutil==2.6.0
django-storages==1.5.2
boto==2.45.0
