<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}buildinfo.debian.net{% endblock %}</title>

  {% block css %}
  <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
  <link href="{% static "css/bidb.css" %}" rel="stylesheet" media="screen" />
  {% endblock %}

  {% block extrahead %}{% endblock %}
</head>
<body class="{% block body_classes %}{% endblock %}">
  {% block body %}{% endblock %}
</body>
</html>
