#!/usr/bin/make -f

export DH_VIRTUALENV_INSTALL_ROOT = /usr/share/python

%:
	dh $@ --with=python-virtualenv,systemd

override_dh_systemd_start:
	dh_systemd_start --no-start

override_dh_systemd_enable:
	dh_systemd_enable --name bidb-celery
	dh_systemd_enable --name bidb-gunicorn
